# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore environment folders
Env_for_ElearningPlatform/

# Ignore database files
db.sqlite3

# Ignore media uploads
media/

# Ignore system files
*.log
*.bak
*.swp
